CompileFlags:
  CompilationDatabase: >-
    c:\TI_Labor\gitProjekte\ITS-BRD-VSC\Programs\A3ASM\out\A3ASM\ITSboard_Assembly\Debug
  Add:
    - '-IC:/TI_Labor/gitProjekte/ITS-BRD-VSC/Programs/A3ASM/Inc'
    - >-
      -IC:/TI_Labor/gitProjekte/ITS-BRD-VSC/Programs/A3ASM/../../stm32cubef4/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -IC:/TI_Labor/gitProjekte/ITS-BRD-VSC/Programs/A3ASM/../../stm32cubef4/Drivers/CMSIS/Include
    - >-
      -IC:/TI_Labor/gitProjekte/ITS-BRD-VSC/Programs/A3ASM/../../stm32cubef4/Drivers/STM32F4xx_HAL_Driver/Inc
    - >-
      -IC:/TI_Labor/gitProjekte/ITS-BRD-VSC/Programs/A3ASM/../../stm32cubef4/Drivers/BSP/STM32F4xx_Nucleo_144
    - >-
      -IC:/TI_Labor/gitProjekte/ITS-BRD-VSC/Programs/A3ASM/../../stm32cubef4/Utilities/Fonts
    - >-
      -IC:/TI_Labor/gitProjekte/ITS-BRD-VSC/Programs/A3ASM/../../DisplayWaveshare/Inc
    - >-
      -IC:/TI_Labor/gitProjekte/ITS-BRD-VSC/Programs/A3ASM/../../ITS_BRD_LIB/Utilities/AddFonts
    - >-
      -IC:/TI_Labor/gitProjekte/ITS-BRD-VSC/Programs/A3ASM/tmp/A3ASM.Debug+ITSboard_Assembly
    - >-
      -IC:/TI_Labor/gitProjekte/ITS-BRD-VSC/Programs/A3ASM/RTE/_Debug_ITSboard_Assembly
    - >-
      -IC:/Users/Tuncay/AppData/Local/Arm/Packs/ARM/CMSIS/6.1.0/CMSIS/Core/Include
    - >-
      -IC:/Users/Tuncay/AppData/Local/Arm/Packs/Keil/STM32F4xx_DFP/2.17.1/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - '-IC:/TI_Labor/gitProjekte/ITS-BRD-VSC/Programs/A3ASM/../../ITS_BRD_LIB/Inc'
